# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.2DWalkthrough.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ahmet\Desktop\unity-workspace\2DWalkthrough\.idea\.idea.2DWalkthrough\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
